<app-alert
  *ngIf="hashService.isModified"
  [messaggio]="hashService.message"
  [type]="hashService.type"
></app-alert>
<h2>Nuovo inserimento</h2>
<hr />
<app-ricerca-etichette #ricercaEtichetteComponent></app-ricerca-etichette>
<div class="mb-3 d-flex justify-content-between">
  <a class="text-16p text-primary mt-3" (click)="goToTornaAllaRicerca()"
    ><span class="fa fa-angle-double-left me-1"></span>
    <label class="text-16p underline cursor cursor-pointer" style="color: #06c"
      >Torna alla ricerca</label
    ></a
  >
  <button
    class="btn btn-primary mt-3"
    type="submit"
    data-focus-mouse="false"
    (click)="onClickInserimentoEtichetta()"
  >
    Salva
  </button>
</div>
