<app-alert
  *ngIf="hashService.isModified"
  [messaggio]="hashService.message"
  [type]="hashService.type"
></app-alert>
<h2 *ngIf="">Modifica etichetta</h2>
<div>
  <!-- inserire campi -->
</div>
<div class="mb-3 d-flex justify-content-between">
  <a class="text-16p text-primary mt-3" (click)="goToTornaAllaRicerca()"
    ><span class="fa fa-angle-double-left me-1"></span>
    <label class="text-16p underline cursor cursor-pointer" style="color: #06c"
      >Torna alla ricerca</label
    ></a
  >
  <div>
    <button
      *ngIf="label"
      class="btn btn-primary mt-3 ms-3"
      type="submit"
      data-focus-mouse="false"
      (click)="onClickSalvaEtichetta()"
    >
      Salva
    </button>
  </div>
</div>
