<div class="Media-page my-5">
  <h1 class="Media-title">Media policy</h1>
  <p class="Media-paragraph">
    La media policy esterna illustra agli utenti le regole di comportamento da
    tenere negli spazi di presidio di AgID e indica quali contenuti e quali
    modalità di relazione ci si deve aspettare.
  </p>
  <p class="Media-paragraph">
    L’Agenzia per l’Italia Digitale (di seguito Agenzia o AgID) utilizza il
    proprio sito web e i social media per informare gli utenti e comunicare con
    loro attraverso Internet.
  </p>
  <p class="Media-paragraph">
    Il sito web e i canali social sono gestiti dall’Ufficio Comunicazione e
    Relazioni esterne dell’Agenzia che può avvalersi di collaboratori e
    consulenti esterni.
  </p>

  <h2 class="Media-subtitle mt-4">I nostri contenuti</h2>
  <p class="Media-paragraph">
    I contenuti pubblicati sul sito web e sui canali social sono concepiti per
    informare PA, cittadini e imprese sulle attività, i progetti, le iniziative
    e gli eventi promossi di AgID, e per favorirne la diffusione.
  </p>
  <p class="Media-paragraph">
    I canali social sono usati, inoltre, per la partecipazione attraverso il
    confronto e il dialogo nell’ottica della trasparenza e della condivisione.
  </p>
  <p class="Media-paragraph">
    Lo staff realizza contenuti originali di carattere testuale, fotografico,
    infografico, video, etc. che sono utilizzabili con Licenza CC (Creative
    Commons – Attribuzione 3.0). Attraverso i canali dell’Agenzia potranno
    altresì essere condivisi contenuti e messaggi di pubblico interesse e
    utilità realizzati da soggetti terzi (Istituzioni, associazioni, imprese,
    media, cittadini) previa verifica dell’attendibilità della fonte.
  </p>
  <p class="Media-paragraph">
    In relazione alle norme sull’accesso civico generalizzato (cd. FOIA), lo
    staff promuove e valorizza il dialogo collaborativo con le comunità di
    utenti dei social media (Facebook, X, etc.), secondo le indicazioni della
    <a
      href="http://www.funzionepubblica.gov.it/articolo/dipartimento/01-06-2017/circolare-n-2-2017-attuazione-delle-norme-sull%E2%80%99accesso-civico"
      >Circolare 2/2017</a
    >
    del Dipartimento della funzione pubblica.
  </p>
  <p class="Media-paragraph">
    La presenza di spazi pubblicitari a margine dei contenuti pubblicati nelle
    pagine dei social network utilizzati da AgID non è sotto il controllo
    dell’Agenzia, ma è gestita in autonomia dagli amministratori dei singoli
    social network.
  </p>
  <p class="Media-paragraph">AgID non promuove e non condivide:</p>

  <ul class="Media-paragraph">
    <li>
      contenuti su tematiche oggetto di controversie legali o affermazioni che
      potrebbero essere utilizzate contro l’Agenzia;
    </li>
    <li>
      informazioni riservate o protette dal diritto alla privacy, come la
      corrispondenza interna, informazioni di terze parti su contenuti,
      documenti, progetti non ancora resi pubblici o relativi a procedimenti in
      corso;
    </li>
    <li>informazioni personali o dati sensibili.</li>
  </ul>

  <h2 class="Media-subtitle mt-4">Moderazione e netiquette</h2>
  <p class="Media-paragraph">
    I canali social di AgID vengono costantemente e sistematicamente moderati.
  </p>
  <p class="Media-paragraph">
    AgID si impegna a gestire spazi di comunicazione e dialogo all’interno dei
    propri profili social chiedendo ai propri utenti il rispetto di alcune
    semplici regole di netiquette:
  </p>

  <ul class="Media-paragraph">
    <li>
      A tutti si chiede di esporre la propria opinione con correttezza e misura,
      basandosi per quanto possibile su dati di fatto verificabili e di
      rispettare le opinioni altrui.
    </li>
    <li>
      Nei social network ognuno è responsabile dei contenuti che pubblica e
      delle opinioni che esprime. Non saranno comunque tollerati insulti,
      volgarità, offese, minacce e, in generale, atteggiamenti violenti.
    </li>
    <li>
      I contenuti pubblicati devono rispettare sempre la privacy delle persone.
      Vanno evitati riferimenti a fatti o a dettagli privi di rilevanza pubblica
      e che ledano la sfera personale di terzi.
    </li>
    <li>
      Requisito essenziale degli argomenti sui canali social dell’Agenzia è
      l’interesse pubblico. Non è possibile utilizzare questi spazi per
      affrontare casi personali, ad eccezione del gruppo Facebook “SPID”
      dedicato alla discussione pubblica – in maniera rispettosa e propositiva –
      e all’assistenza degli utenti.
    </li>
    <li>
      L’interesse degli argomenti rispetto alle finalità di AgID è un requisito
      essenziale: non è possibile utilizzare questi spazi per scopi diversi da
      quelli istituzionali dell’Agenzia.
    </li>
    <li>
      Ogni discussione è legata a un tema specifico: chiediamo a tutti i
      partecipanti di rispettarlo, evitando di allargare il confronto in modo
      generico e indiscriminato.
    </li>
    <li>
      Non sarà tollerata alcuna forma di pubblicità, spam o promozione di
      interessi privati o di attività illegali.
    </li>
    <li>
      Non sono ammessi contenuti che violino il diritto d’autore né l’utilizzo
      non autorizzato di marchi registrati.
    </li>
  </ul>

  <p class="Media-paragraph">
    In ogni caso, saranno rimossi dallo staff tutti i post, i commenti o i
    materiali audio/video che:
  </p>

  <ul class="Media-paragraph">
    <li>hanno un contenuto politico o propagandistico;</li>
    <li>
      presentano un linguaggio inappropriato e/o un tono minaccioso, violento,
      volgare o irrispettoso;
    </li>
    <li>
      presentano contenuti illeciti o che incitano a compiere attività illecite;
    </li>
    <li>
      hanno contenuti offensivi, ingannevoli, allarmistici, o in violazione di
      diritti di terzi;
    </li>
    <li>
      divulgano dati e informazioni personali o che possono cagionare danni o
      ledere la reputazione di terzi;
    </li>
    <li>
      presentano contenuto osceno, pornografico o pedopornografico, o tale da
      offendere la sensibilità degli utenti;
    </li>
    <li>
      hanno un contenuto discriminatorio per genere, razza, etnia, lingua, credo
      religioso, opinioni politiche, orientamento sessuale, età, condizioni
      personali e sociali;
    </li>
    <li>
      promuovono o sostengono attività illegali, che violano il copyright o che
      utilizzano in modo improprio un marchio registrato.
    </li>
  </ul>

  <p class="Media-paragraph">
    Per chi dovesse violare ripetutamente queste condizioni o quelle contenute
    nelle policy degli strumenti adottati, lo staff si riserva il diritto di
    usare il ban o il blocco (quando possibile dopo un primo avvertimento) per
    impedire ulteriori interventi, e di segnalare l’utente ai responsabili della
    piattaforma ed eventualmente alle forze dell’ordine.
  </p>
  <p class="Media-paragraph">
    Messaggi contenenti dati personali (indirizzi email, numeri di telefono,
    indirizzi, etc.) potranno essere rimossi a tutela delle persone interessate.
  </p>
  <p class="Media-paragraph">
    Per ogni approfondimento relativo al trattamento dei dati personali è
    possibile consultare la
    <a href="https://www.agid.gov.it/it/privacy-policy">Privacy policy</a> e le
    <a href="https://www.agid.gov.it/it/note-legali">Note legali</a>
    dell’Agenzia.
  </p>

  <h2 class="Media-subtitle mt-4">Privacy e trattamento dei dati personali</h2>
  <p class="Media-paragraph">
    Si ricorda che il trattamento dei dati personali degli utenti risponde alle
    policy in uso sulle piattaforme utilizzate. I dati personali o sensibili
    inseriti in commenti o post pubblici all’interno dei canali sui social media
    di AgID potranno essere rimossi.
  </p>
  <p class="Media-paragraph">
    I dati condivisi dagli utenti attraverso messaggi privati spediti
    direttamente ai gestori dei canali saranno trattati nel rispetto delle norme
    vigenti sulla protezione dei dati personali e della
    <a href="https://www.agid.gov.it/it/privacy-policy"
      >Privacy policy di AgID</a
    >.
  </p>

  <h2 class="Media-subtitle mt-4">I nostri account istituzionali</h2>
  <p class="Media-paragraph">
    AgID è presente su Facebook, X, Medium, Linkedin, e Youtube, i profili sono
    gestiti dall’Ufficio “Comunicazione e relazioni esterne” che si avvale delle
    strutture dell’Agenzia dedicate alla comunicazione.
  </p>
  <p class="Media-paragraph">
    Eventuali profili social del direttore generale o dei dirigenti sono gestiti
    personalmente. Allo stesso modo i profili dei dipendenti e dei consulenti
    dell’Agenzia sono gestiti esclusivamente a titolo personale e seguono le
    indicazioni della social media policy interna.
  </p>

  <h2 class="Media-subtitle mt-4">Facebook</h2>
  <p class="Media-paragraph">
    La pagina ufficiale dell’Agenzia è @AgIDGovIT ed è raggiungibile
    all’indirizzo web:
    <a href="https://www.facebook.com/AgIDGovIT"
      >https://www.facebook.com/AgIDGovIT</a
    >.
  </p>
  <p class="Media-paragraph">
    Su Facebook è possibile condividere e commentare i contenuti pubblicati nel
    rispetto delle regole stabilite nella presente social media policy. È
    possibile interagire con lo Staff, sia pubblicamente che tramite messaggi
    privati.
  </p>
  <p class="Media-paragraph">
    L’Agenzia inoltre gestisce e modera il gruppo Facebook “SPID”, raggiungibile
    all’indirizzo web:
    <a href="www.facebook.com/groups/agid.spid"
      >www.facebook.com/groups/agid.spid</a
    >.
  </p>
  <p class="Media-paragraph">
    L’Agenzia non risponde di ulteriori pagine, account o gruppi – ad essa
    riferiti – presenti su Facebook.
  </p>

  <h2 class="Media-subtitle mt-4">X</h2>
  <p class="Media-paragraph">
    Il profilo X ufficiale è @AgIDGOV raggiungibile all’indirizzo web:
    <a href="https://x.com/AgidGov">https://x.com/AgidGov</a>.
  </p>
  <p class="Media-paragraph">
    Su X è possibile twittare, retwittare e commentare i contenuti pubblicati
    nel rispetto delle regole stabilite nella presente social media policy. È
    possibile interagire con lo Staff, sia pubblicamente che tramite DM.
  </p>
  <p class="Media-paragraph">
    Oltre al profilo ufficiale dell’Agenzia sono riconosciuti come profili
    ufficiali di progetti in capo all’Agenzia i seguenti account: @DatiGov e
    @RNDT_IT
  </p>
  <p class="Media-paragraph">
    L’Agenzia non risponde di ulteriori account – ad essa riferiti – presenti su
    X.
  </p>

  <h2 class="Media-subtitle mt-4">Medium</h2>
  <p class="Media-paragraph">
    Il canale Medium ufficiale dell’Agenzia è disponibile all’indirizzo web:
    <a href="https://medium.com/@AgidGov">https://medium.com/@AgidGov</a>
  </p>
  <p class="Media-paragraph">
    Su Medium sono presenti gli approfondimenti, i resoconti di progetti e
    iniziative dell’Agenzia in versione narrata.
  </p>
  <p class="Media-paragraph">
    L’Agenzia non risponde di ulteriori profili – ad essa riferiti – presenti su
    Medium.
  </p>

  <h2 class="Media-subtitle mt-4">LinkedIN</h2>
  <p class="Media-paragraph">
    Su LinkedIN è possibile commentare e condividere i contenuti pubblicati nel
    rispetto delle regole stabilite nella presente social media policy.
  </p>
  <p class="Media-paragraph">
    L’indirizzo della pagina ufficiale è
    <a href="www.linkedin.com/company/agenzia-italia-digitale"
      >www.linkedin.com/company/agenzia-italia-digitale</a
    >.
  </p>
  <p class="Media-paragraph">
    L’Agenzia non risponde di ulteriori pagine aziendali – ad essa riferite –
    presenti su LinkedIN.
  </p>
  <p class="Media-paragraph">
    I profili social dell’Agenzia non sono dedicati al trattamento di
    comunicazioni relative a procedimenti amministrativi, per chiarimenti e
    maggiori informazioni è possibile scrivere all’indirizzo:
    <a href="comunicazione@agid.gov.it">comunicazione@agid.gov.it</a>
  </p>

  <h2 class="Media-subtitle mt-4">Youtube</h2>
  <p class="Media-paragraph">
    Il canale Youtube ufficiale dell’Agenzia è disponibile all’indirizzo web:
    <a href="https://www.youtube.com/c/AGIDagenzia-italia-digitale"
      >https://www.youtube.com/c/AGIDagenzia-italia-digitale</a
    >. Sul canale Youtube sono presenti video delle campagne promozionali, le
    interviste e gli atti di convegni dell’Agenzia.
  </p>
  <p class="Media-paragraph">
    L’Agenzia non risponde di ulteriori profili – ad essa riferiti – presenti su
    Youtube.
  </p>

  <h2 class="Media-subtitle mt-4">Contatti</h2>
  <p class="Media-paragraph">
    Gli utenti possono inviare segnalazioni relative ai contenuti di questa
    media policy all’indirizzo
    <a href="mailto:comunicazione@agid.gov.it">comunicazione@agid.gov.it</a>
  </p>
</div>
