<app-navbar-top></app-navbar-top>

<div class="it-header-center-wrapper">
  <div
    class="it-header-center-content-wrapper ms-auto me-auto custom-max-width-1200"
  >
    <div
      class="Header-agid Grid-cell u-size2of3 u-sm-size1of2 u-md-size1of2 u-lg-size1of2"
      aria-hidden="true"
    >
      <a [routerLink]="['/']" class="u-text-r-m" title="Home" rel="home">
        <img
          class="Logo-img"
          src="/assets/img/footer/AgID_bianco.png#agid-logo"
          alt="Agenzia per l'Italia digitale logo"
        />
      </a>
    </div>
    <!-- <div class="dropdown me-2 d-block d-lg-none">
      <button
        class="btn btn-dropdown dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <svg class="icon custom-icon-hamburger-menu">
          <use href="/assets/svg/sprite.svg#it-burger"></use>
        </svg>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="link-list-wrapper">
          <ul class="link-list">
            <li>
              <a
                class="list-item"
                routerLink="/form"
                routerLinkActive="active"
                ><span>Front office</span></a
              >
            </li>
            <li>
              <a
                class="list-item"
                routerLink="/admin"
                routerLinkActive="active"
                ><span>Back office</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <!-- <div class="it-brand-wrapper w-100">
      <a class="button"
        ><svg class="icon cursor-pointer" (click)="goToHome()">
          <use href="/assets/svg/sprite.svg#it-designers-italia"></use>
        </svg>
        <div class="it-brand-text">
          <h1 class="custom-header-size">Forms</h1>
        </div></a
      >
    </div> -->
  </div>
</div>

<app-navbar-bottom class="d-none d-lg-block"></app-navbar-bottom>
