.it-header-center-wrapper {
  background: #0059b3;
}

.custom-header-size {
  font-size: 1.778em;
  margin-bottom: 0;
  font-weight: 600;
}

.custom-max-width-1200 {
  max-width: 1200px;
}

.custom-icon-hamburger-menu {
  fill: #fff;
  width: 24px;
  height: 24px;
}
