.align{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    color: #435a70;
    font-weight: bold;
    font-size: 0.7777777778rem;
}