<div class="main-content pl-md-4 w-100">
  <h1 class="px-2 py-3 mb-md-2 py-lg-0 px-lg-0 main-title">
    Gestione delle dichiarazioni
  </h1>
  <div>
    <table class="table table-hover mt-4">
      <caption>
        Stato delle dichiarazioni
      </caption>
      <thead class="lightgrey-bg-a3">
        <tr>
          <th scope="col" class="font-variant-small-caps">tipologia</th>
          <th scope="col" class="font-variant-small-caps">nome</th>
          <th scope="col" class="font-variant-small-caps">esito</th>
          <th scope="col" class="font-variant-small-caps">aggiornato il</th>
          <th scope="col" class="font-variant-small-caps">azione</th>
          <th scope="col" class="font-variant-small-caps">stato</th>
        </tr>
      </thead>
      <tbody class="font-size-xs color-black font-weight-600">
        <tr>
          <td>sito</td>
          <td>
            SPID Sistema Pubblico di Identità Digitale<br /><small
              class="font-size-xxs"
              >https://www.spid.gov.it/</small
            >
          </td>
          <td>non conforme</td>
          <td>08/06/2022</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/b4a3babe-d80e-4f01-a989-0517aab5fbed"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/b4a3babe-d80e-4f01-a989-0517aab5fbed">pubblicato</a>
            <p class="font-weight-normal">[verificato]</p>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            Portale Trasparenza di AgID<br /><small class="font-size-xxs"
              >https://trasparenza.agid.gov.it/</small
            >
          </td>
          <td>conforme</td>
          <td>08/06/2022</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/fafbedd1-6e86-4b95-9daa-d13f1b4bddf8"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/fafbedd1-6e86-4b95-9daa-d13f1b4bddf8">pubblicato</a>
            <p class="font-weight-normal">[verificato]</p>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            INDICE DEI DOMICILI DIGITALI DELLE PUBBLICHE AMMINISTRAZIONI E DEI
            GESTORI DI PUBBLICI SERVIZI<br /><small class="font-size-xxs"
              >HTTPS://INDICEPA.GOV.IT</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>08/06/2022</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/f613de6e-65ce-4746-b48d-7a72cc376816"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/f613de6e-65ce-4746-b48d-7a72cc376816">pubblicato</a>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            Open Data dell'Indice dei domicili digitali delle PA e GPS (IPA)<br /><small
              class="font-size-xxs"
              >https://indicepa.gov.it/ipa-dati</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>08/06/2022</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/2027c801-762e-4b40-8a63-ad7029b0ce01"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/2027c801-762e-4b40-8a63-ad7029b0ce01">pubblicato</a>
            <p class="font-weight-normal">[verificato]</p>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            Monitoraggio del Piano triennale ICT nella PA<br /><small
              class="font-size-xxs"
              >https://monitoraggiopianotriennale.italia.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>29/04/2021</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/e96f8a97-43fb-42a5-bb38-b75d21278075"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/e96f8a97-43fb-42a5-bb38-b75d21278075">pubblicato</a>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            dati.gov.it i dati aperti della pubblica amministrazione<br /><small
              class="font-size-xxs"
              >https://www.dati.gov.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>29/10/2020</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/4a10c766-1d0c-4354-9de1-14c29837f536"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/4a10c766-1d0c-4354-9de1-14c29837f536">pubblicato</a>
            <p class="font-weight-normal">[verificato]</p>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            Piano Triennale per l'informatica nella Pubblica Amministrazione<br /><small
              class="font-size-xxs"
              >https://pianotriennale-ict.italia.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>19/10/2020</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/083b58e0-aac3-4edb-8ebf-b17ac112a227"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/083b58e0-aac3-4edb-8ebf-b17ac112a227">pubblicato</a>
            <p class="font-weight-normal">[verificato]</p>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            Form procedure on-line AGID <br /><small class="font-size-xxs"
              >https://form.agid.gov.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>01/10/2020</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/c299ac76-6d08-4c34-9957-00519dde4ea9"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/c299ac76-6d08-4c34-9957-00519dde4ea9">pubblicato</a>
            <p class="font-weight-normal">[verificato]</p>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            AGID Agenzia per l'Italia Digitale<br /><small class="font-size-xxs"
              >https://www.agid.gov.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>22/09/2020</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/55b265ed-fe45-44f6-8c10-2708d1208742"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/55b265ed-fe45-44f6-8c10-2708d1208742">pubblicato</a>
            <p class="font-weight-normal">[verificato]</p>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            Forum Italia<br /><small class="font-size-xxs"
              >https://forum.italia.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>10/09/2020</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/db537a72-cb77-46fb-9526-a8c4d89c1292"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/db537a72-cb77-46fb-9526-a8c4d89c1292">pubblicato</a>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            Guida dinamica<br /><small class="font-size-xxs"
              >https://guidadinamica.agid.gov.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>10/09/2020</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/c38b99c0-7dc6-4fbb-9abf-db483ed19614"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/c38b99c0-7dc6-4fbb-9abf-db483ed19614">pubblicato</a>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            Appaltinnovativi.GOV<br /><small class="font-size-xxs"
              >https://appaltinnovativi.gov.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>10/09/2020</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/08d79800-e33c-49b8-9850-5848cb45d500"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/08d79800-e33c-49b8-9850-5848cb45d500">pubblicato</a>
          </td>
        </tr>
        <tr>
          <td>sito</td>
          <td>
            PEPPOL Authority in Italia<br /><small class="font-size-xxs"
              >https://peppol.agid.gov.it/</small
            >
          </td>
          <td>parzialmente conforme</td>
          <td>10/09/2020</td>
          <td>
            <a
              href="/form/dichiarazione-accessibilita/d578208f-b0cf-4dfe-add6-29972373c5b0"
              >aggiorna</a
            >
          </td>
          <td>
            <a href="/view/d578208f-b0cf-4dfe-add6-29972373c5b0">pubblicato</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <a
        class="btn btn-outline-primary"
        href="/form/dichiarazione-accessibilita"
        >Nuova dichiarazione<span
          aria-hidden="true"
          style="
            font-size: 24px;
            line-height: 1px;
            padding-left: 16px;
            font-weight: bold;
          "
          >+</span
        ></a
      >
    </p>
  </div>
</div>
