<app-alert
  *ngIf="hashService.isModified"
  [messaggio]="hashService.message"
  [type]="hashService.type"
></app-alert>
<h2>{{ "AG_Nuovo_Inserimento" | translate }}</h2>
<hr />
<app-sezione-metadati
  #sezioneMetadatiComponent
  [metadati]="metadati"
  (changeMetadati)="changeMetadati($event)"
>
</app-sezione-metadati>
<app-sezione-permessi [metadati]="metadati"></app-sezione-permessi>
<app-sezione-builder
  #sezioneBuilderComponent
  [form]="this.form"
  (changeForm)="changeForm($event)"
>
</app-sezione-builder>
<div class="mb-3 d-flex justify-content-between">
  <a class="text-16p text-primary mt-3" (click)="goToTornaAllaRicerca()"
    ><span class="fa fa-angle-double-left me-1"></span>
    <label
      class="text-16p underline cursor cursor-pointer"
      style="color: #06c"
      >{{ "AG_Torna_Ricerca" | translate }}</label
    ></a
  >
  <button
    class="btn btn-primary mt-3"
    type="submit"
    data-focus-mouse="false"
    (click)="onClickSalvaSchemaRilevazione()"
  >
    {{ "AG_Salva" | translate }}
  </button>
</div>
