<table style="width: 100%; table-layout: fixed" class="table table-responsive-xl table-hover mt-4"
  *ngIf="elencoEtichette?.length > 0">
  <thead>
    <tr>
      <th scope="col" style="width: 30%">{{"AG_Lingua" | translate}}</th>
      <th scope="col" style="width: 20%">{{"AG_Azioni" | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of elencoEtichette">
      <td>
        {{ item.lingua }}
      </td>
      <td>
        <!-- TODO:sostituire con import e export -->
        <svg class="icon cursor-pointer" (click)="goToModificaEtichetta(item)">
          <title id="esporta">{{"AG_Esporta" | translate}}</title>
          <use href="../../../../assets/svg/sprite.svg#it-upload"></use>
        </svg>
        <svg class="icon cursor-pointer" (click)="onClickEliminaEtichetta(item)">
          <title id="importa">{{"AG_Importa" | translate}}</title>
          <use href="../../../../assets/svg/sprite.svg#it-download"></use>
        </svg>
      </td>
    </tr>
  </tbody>
</table>
<tbody *ngIf="elencoEtichette?.length === 0">
  <tr>
    <div class="ms-3">
      <p>Nessun risultato disponibile per la ricerca effettuata.</p>
    </div>
  </tr>
</tbody>
<!-- Paginazione -->
<app-paginator *ngIf="totalElements" [elementsForPage]="filters.pagination.elementsForPage"
  [(selectedPage)]="selectedPage" [totalElements]="totalElements" (selectedPageChange)="onChangePage($event)">
</app-paginator>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal" aria-labelledby="deleteModalTitle">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h2 class="modal-title">{{"AG_Eliminazione" | translate}}</h2>
        <button class="btn-close" type="button" aria-label="Close" (click)="redirectPage()">
          <svg class="icon">
            <use href="/assets/svg/sprite.svg#it-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <p>{{"AG_Procedere_Eliminazione" | translate}}</p>
        <div class="d-flex justify-content-end mb-3">
          <button type="button" class="btn btn-secondary me-3" (click)="redirectPage()">
            {{"AG_Annulla" | translate}}
          </button>
          <button type="button" class="btn btn-primary" (click)="deleteEtichetta()">
            {{"AG_Conferma" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>