<div class="row mb-3">
  <div class="col-12">
    <h3>Sezione builder</h3>
  </div>
</div>

<ul class="nav nav-tabs auto" id="builder-render" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="builder"
      data-bs-toggle="tab"
      data-bs-target="#builder-tab"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="true"
    >
      Builder
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="render"
      data-bs-toggle="tab"
      data-bs-target="#render-tab"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="true"
    >
      Anteprima
    </button>
  </li>
  <li class="nav-item-filler"></li>
</ul>
<div class="tab-content" id="builder-renderContent">
  <div
    class="tab-pane py-4 fade show active"
    id="builder-tab"
    role="tabpanel"
    aria-labelledby="builder"
  >
    <app-formio-builder
      [form]="form"
      [options]="formOptions"
      (changeFormio)="onChange($event)"
    ></app-formio-builder>
  </div>
  <div
    class="tab-pane py-4 fade"
    id="render-tab"
    role="tabpanel"
    aria-labelledby="render"
  >
    <app-formio-render [form]="form"></app-formio-render>
  </div>
</div>
