<div class="mt-5">
  <div class="row">
    <div class="form-group col-md-3">
      <app-input
        [label]="'Codice utente'"
        (changeInput)="onChangeCodiceUtente($event)"
        [value]="this.filters.codiceUtenteInserimento"
      >
      </app-input>
    </div>
    <div class="col-md-3">
      <div class="select-wrapper">
        <label for="selectStato">Stato</label>
        <select id="selectStato" (change)="onChangeStato($event)">
          <option selected="" value="">Scegli un'opzione</option>
          <option value="Bozza">Bozza</option>
          <option value="Pubblicato">Pubblicato</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group">
        <label class="active" for="dateInizio">Data inizio</label>
        <input
          (change)="onChangeDataInizio($event)"
          [value]="filters.dataInizio"
          type="date"
          id="dateInizio"
          name="dateInizio"
        />
        <app-alert
          *ngIf="!isValid.dataInizio"
          [messaggio]="errorMessage"
          [type]="typeAlert"
        ></app-alert>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group">
        <label class="active" for="dateFine">Data fine</label>
        <input
          (change)="onChangeDataFine($event)"
          [value]="filters.dataFine"
          type="date"
          id="dateFine"
          name="dateFine"
        />
        <app-alert
          *ngIf="!isValid.dataFine"
          [messaggio]="errorMessage"
          [type]="typeAlert"
        ></app-alert>
      </div>
    </div>
  </div>
</div>
