<div class="Legal-page my-5">
  <h1 class="Legal-title">Note legali</h1>
  <h2 class="Legal-subtitle mt-4">Premessa</h2>
  <p class="Legal-paragraph">
    L’agenzia per l’italia digitale (AgID) ha realizzato il sito
    “form.agid.gov.it” (di seguito “il sito”) con l'obiettivo di raccogliere
    informazioni strutturate dalle varie amministrazioni, tramite l'utilizzo di
    moduli autenticati. </p><p class="Legal-paragraph">
    Nella presente pagina sono riportate le Note legali relative all’utilizzo
    del sito. </p><p class="Legal-paragraph">
    Il presente documento potrà essere modificato in qualsiasi momento e senza
    preavviso. l’utente è pertanto invitato a prendere regolarmente visione
    dell’ultima versione aggiornata delle stesse, disponibile e permanentemente
    accessibile da qualunque pagina del sito, cliccando sul collegamento “Note
    legali”.
  </p>

  <h2 class="Legal-subtitle mt-4">Copyright</h2>
  <p class="Legal-paragraph">
    La visualizzazione, il download e qualunque utilizzo dei dati pubblicati sul
    presente sito comporta l’accettazione delle presenti Note legali e delle
    condizioni della licenza con cui sono pubblicati. Salvo ove diversamente
    indicato, i dati pubblicati sul presente sito sono messi a disposizione con
    licenza cc-by 3.0, il cui testo integrale è disponibile al seguente
    indirizzo:
    <a
      href="https://creativecommons.org/licenses/by/3.0/it/legalcode"
      title="Vai alla licenza"
    >
      http://creativecommons.org/licenses/by/3.0/it/legalcode
    </a>
    </p><p class="Legal-paragraph">
    Questo significa che, ove non diversamente specificato, i contenuti di
    questo sito sono liberamente distribuibili e riutilizzabili, a patto che sia
    sempre citata la fonte e – ove possibile - riportato l'indirizzo web della
    pagina originale.
  </p>

  <h2 class="Legal-subtitle mt-4">Utilizzo del sito e download</h2>
  <p class="Legal-paragraph">
    Tutti i documenti pubblicati sul presente sito sono conformi e
    corrispondenti agli atti originali. </p><p class="Legal-paragraph">
    In nessun caso agid può essere ritenuta responsabile dei danni di qualsiasi
    natura causati direttamente o indirettamente dall'accesso al sito,
    dall'incapacità o impossibilità di accedervi.</p><p class="Legal-paragraph">
    AgID, inoltre, non potrà essere ritenuta in alcun modo responsabile per i
    servizi di connettività utilizzati dagli utenti per l’accesso al portale.</p><p class="Legal-paragraph">
    I documenti, quali ad esempio la documentazione tecnica e normativa, ecc. e
    software, salvo diversa indicazione, sono liberamente e gratuitamente
    disponibili, in caso contrario viene prodotto un avviso come premessa
    nell'uso degli stessi.
  </p>

  <h2 class="Legal-subtitle mt-4">Accesso a siti esterni collegati</h2>
  <p class="Legal-paragraph">
    I collegamenti a siti esterni, indicati nel presente sito, sono forniti come
    semplice servizio agli utenti, con esclusione di ogni responsabilità sulla
    correttezza e sulla completezza dell’insieme dei collegamenti indicati.</p><p class="Legal-paragraph">
    L’indicazione dei collegamenti non implica da parte di agid alcun tipo di
    approvazione o condivisione di responsabilità in relazione alla legittimità,
    alla completezza e alla correttezza delle informazioni contenute nei siti
    indicati.
  </p>

  <h2 class="Legal-subtitle mt-4">Privacy</h2>
  <p class="Legal-paragraph">
    La privacy degli utenti è molto importante. per questo motivo è stata
    predisposta un’apposita
    <a href="/privacy-policy">informativa sulla privacy</a> che l’utente,
    utilizzando il presente sito, accetta.
  </p>
</div>
