<div class="row">
  <div class="col-12">
    <h3>Sezione metadati</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <app-input
      [label]="'Titolo dello schema'"
      [value]="metadati?.titolo"
      [isValid]="isValid.titolo"
      [errorMessage]="errorMessage"
      [errorType]="typeAlert"
      (changeInput)="onKeyUpTitolo($event)"
    >
    </app-input>
  </div>
  <div class="w-100"></div>
  <div class="col-12">
    <app-textarea
      [label]="'Descrizione'"
      [value]="metadati?.descrizione"
      [isValid]="isValid.descrizione"
      [rows]="4"
      [errorMessage]="errorMessage"
      [errorType]="typeAlert"
      (changeInput)="onKeyUpDescrizione($event)"
    >
    </app-textarea>
  </div>
  <div class="w-100"></div>
  <div class="col-12">
    <app-textarea
      [label]="'Home'"
      [value]="metadati?.sezioniInformative?.home"
      [isValid]="isValid.home"
      [rows]="4"
      [errorMessage]="errorMessage"
      [errorType]="typeAlert"
      (changeInput)="onKeyUpHome($event)"
    >
    </app-textarea>
  </div>
  <div class="col-12">
    <app-textarea
      [label]="'Faq'"
      [value]="metadati?.sezioniInformative?.faq"
      [rows]="4"
      [isValid]="isValid.faq"
      [errorMessage]="errorMessage"
      [errorType]="typeAlert"
      (changeInput)="onKeyUpFaq($event)"
    >
    </app-textarea>
  </div>
  <div class="w-100"></div>
  <div class="col-12 col-md-4">
    <app-input
      [label]="'Data inizio'"
      [type]="'date'"
      [value]="metadati?.dataInizioValidita"
      [isValid]="isValid.dataInizioValidita"
      [errorMessage]="errorMessage"
      [errorType]="typeAlert"
      (changeInput)="onKeyDataInizio($event)"
    >
    </app-input>
  </div>
  <div class="col-12 col-md-4">
    <app-input
      [label]="'Data fine'"
      [type]="'date'"
      [value]="metadati?.dataFineValidita"
      [isValid]="isValid.dataFineValidita"
      [errorMessage]="errorMessage"
      [errorType]="typeAlert"
      (changeInput)="onKeyUpDataFine($event)"
    >
    </app-input>
  </div>
</div>
