<div
  class="alert"
  [ngClass]="{
    'alert-info': type === 'INFO',
    'alert-success': type === 'SUCCESS',
    'alert-warning': type === 'WARNING',
    'alert-danger': type === 'DANGER'
  }"
  role="alert"
>
  <ng-container *ngFor="let item of messaggio">
    <ng-container *ngIf="!item.routerlink"> {{ item.label }} </ng-container
    ><br />
    <ng-container *ngIf="item.routerlink">
      <a [routerLink]="item.link" [queryParams]="item.params">{{
        item.label
      }}</a>
    </ng-container>
  </ng-container>
</div>
