<div
  class="alert"
  [ngClass]="{
    'alert-info': type === 'INFO',
    'alert-success': type === 'SUCCESS',
    'alert-warning': type === 'WARNING',
    'alert-danger': type === 'DANGER'
  }"
  role="alert"
>
<ng-container *ngFor="let item of messaggio">
  <ng-container *ngIf="!item.htmlContent">
    <a *ngIf="item.routerlink; else plainLabel" [routerLink]="item.link" [queryParams]="item.params">
      {{ item.label }}
    </a>
    <ng-template #plainLabel>{{ item.label }}</ng-template>
  </ng-container>
  <div *ngIf="item.htmlContent" [innerHTML]="item.htmlContent"></div>
</ng-container>
</div>
