<nav class="navbar navbar-expand-lg has-megamenu">
  <button
    class="custom-navbar-toggler"
    type="button"
    aria-controls="nav1"
    aria-expanded="false"
    aria-label="Mostra/Nascondi la navigazione"
    data-target="#nav1"
  >
    <svg class="icon">
      <use href="/assets/svg/sprite.svg#it-burger"></use>
    </svg>
  </button>
  <div class="navbar-collapsable" id="nav1">
    <div class="overlay"></div>
    <div class="close-div">
      <button class="btn close-menu" type="button">
        <span class="sr-only">Nascondi la navigazione</span>
        <svg class="icon">
          <use href="/assets/svg/sprite.svg#it-close-big"></use>
        </svg>
      </button>
    </div>
    <div class="menu-wrapper">
      <ul
        class="navbar-nav justify-content-start ms-auto me-auto px-0 custom-max-width-1200"
      >
        <li>
          <a
            class="nav-item"
            class="custom-overwrite-border nav-link"
            routerLink="/form"
            routerLinkActive="active"
            ><span>Form</span></a
          >
        </li>
        <li class="nav-item">
          <a
            id="front_link"
            class="custom-overwrite-border nav-link"
            routerLink="/elenco-form"
            routerLinkActive="active"
            ><span>Front office</span></a
          >
        </li>
        <li class="nav-item">
          <a
            id="admin_link"
            class="custom-overwrite-border nav-link"
            routerLink="/admin"
            routerLinkActive="active"
          >
            <span>Back office</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a
            id="users_link"
            class="custom-overwrite-border nav-link"
            routerLink="/gestione-utenze"
            routerLinkActive="active"
          >
            <span>Gestione utenze</span>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
