<div class="row">
  <div class="col-12 col-lg-4">
    <div class="card-wrapper">
      <div class="card card-bg">
        <div class="card-body position-relative">
          <h5 class="card-title">
            <a
              class="cursor-pointer"
              style="color: #06c; text-decoration: underline"
              (click)="goToRender()"
              >Dichiarazione di accessibilità</a
            >
          </h5>
          <p class="card-text mb-5">
            <span
              >Ai sensi del D.lgs. n. 106/2018 e come da L66 - “Attuazione della
              Direttiva europea 2016/2102 sull’accessibilità dei siti web” del
              Piano Triennale per l'informatica nella PA e, le Amministrazioni
              sono tenute alla compilazione e pubblicazione della Dichiarazione
              di Accessibilità per i siti web e le applicazioni mobili di cui
              sono titolari.</span
            >
          </p>
          <p class="position-absolute mb-0" style="bottom: 20px; right:20px;">
            <a
              class="card-title cursor-pointer"
              aria-label="Accedi al modulo: Obiettivi di accessibilità"
              (click)="goToRender()"
              >Accedi al modulo</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card-wrapper">
      <div class="card card-bg">
        <div class="card-body position-relative">
          <h5 class="card-title">
            <a
              class="cursor-pointer"
              style="color: #06c; text-decoration: underline"
              (click)="goToRender()"
              >Obiettivi di accessibilità</a
            >
          </h5>
          <p class="card-text mb-5">
            <span
              >Al fine di supportare le PA nelle attività di definizione e
              pubblicazione degli Obiettivi annuali di accessibilità (Linee
              Guida sull’accessibilità degli strumenti informatici - capitolo 4,
              paragrafo 2), AGID mette a disposizione il modulo presente su
              questa applicazione.</span
            >
          </p>
          <p class="position-absolute mb-0" style="bottom: 20px; right:20px;">
            <a
              class="card-title cursor-pointer"
              aria-label="Accedi al modulo: Obiettivi di accessibilità"
              (click)="goToRender()"
              >Accedi al modulo</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card-wrapper">
      <div class="card card-bg">
        <div class="card-body">
          <h5 class="card-title position-relative">
            <a
              class="cursor-pointer"
              style="color: #06c; text-decoration: underline"
              (click)="goToRender()"
              >Adeguamento sito ai modelli di design</a
            >
          </h5>
          <p class="card-text mb-5">
            <span
              >Come previso del punto CAP1.PA.LA14 del Piano Triennale per
              l'informatica nella PA, “Le PA comunicano ad AGID, tramite
              apposito form online, l’uso dei modelli per lo sviluppo web per i
              propri siti istituzionali”.</span
            >
          </p>
          <p class="position-absolute mb-0" style="bottom: 20px; right:20px;">
            <a
              class="card-title cursor-pointer"
              aria-label="Accedi al modulo: Adeguamento sito ai modelli di design"
              (click)="goToRender()"
              >Accedi al modulo</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mt-3 mb-3">
    <div class="card-wrapper">
      <div class="card card-bg">
        <div class="card-body">
          <h5 class="card-title position-relative">
            <a
              class="cursor-pointer"
              style="color: #06c; text-decoration: underline"
              (click)="goToRender()"
              >Comunicazione esiti dei test di usabilità</a
            >
          </h5>
          <p class="card-text mb-5">
            <span
              >Puoi utilizzare questo form, per inviare ad AGID i risultati dei
              test di usabilità, come previsto dal Piano Triennale ICT
              2020-2022: OB.1.2 - Migliorare l’esperienza d’uso e
              l’accessibilità dei servizi R.A.1.2b - Diffusione dei test di
              usabilità previsti dalle Linee Guida AGID per il design dei
              servizi nelle amministrazioni per agevolare il feedback e le
              valutazioni da parte degli utenti.</span
            >
          </p>
          <p class="position-absolute mb-0" style="bottom: 20px; right:20px;">
            <a
              class="card-title cursor-pointer"
              aria-label="Accedi al modulo: Comunicazione esiti dei test di usabilità"
              (click)="goToRender()"
              >Accedi al modulo</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mt-3 mb-3">
    <div class="card-wrapper">
      <div class="card card-bg">
        <div class="card-body">
          <h5 class="card-title position-relative">
            <a
              class="cursor-pointer"
              style="color: #06c; text-decoration: underline"
              (click)="goToRender()"
              >Questionario PNRR 1.4.2 - Accessibilità</a
            >
          </h5>
          <p class="card-text mb-5">
            <span
              >Possono utilizzare questo form le 55 PA locali selezionate per il
              supporto specialistico e sostegno finanziario in tema di
              miglioramento dell'accessibilità dei servizi pubblici digitali per
              tutti i cittadini.</span
            >
          </p>
          <p class="position-absolute mb-0" style="bottom: 20px; right:20px;">
            <a
              class="card-title cursor-pointer"
              aria-label="Accedi al modulo: Questionario PNRR 1.4.2 - Accessibilità"
              (click)="goToRender()"
              >Accedi al modulo</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
