<h2>Gestione compilazioni</h2>
<app-ricerca-sottomissioni
  #ricercaSottomissioniComponent
></app-ricerca-sottomissioni>
<div class="row">
  <div class="form-group col text-right">
    <button type="submit" class="btn btn-primary" (click)="searchForm()">
      Cerca
    </button>
  </div>
</div>
<table
  style="table-layout: fixed"
  class="w-100 table table-responsive-xl table-hover mt-4"
>
  <thead>
    <tr>
      <th style="width: 30%" scope="col">Nome pubblica amministrazione</th>
      <th style="width: 10%" scope="col">Email utente</th>
      <th style="width: 20%" scope="col">Titolo form</th>
      <th style="width: 10%" scope="col">Stato</th>
      <th style="width: 15%" scope="col">Data ultima modifica</th>
      <th style="width: 15%" scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of elencoForm">
      <td>
        {{ item.codiceUtenteInserimento }}
      </td>
      <td>
        {{ item.codiceUtenteInserimento }}
      </td>
      <td>
        {{ item.titolo }}
      </td>
      <td>
        {{ item.stato }}
      </td>
      <td>{{ item.dataUltimaModifica }}</td>
      <td>
        <svg
          class="icon cursor-pointer"
          (click)="goToModificaSottomissione(item)"
        >
          <title id="modifica">Modifica</title>
          <use href="../../../../assets/svg/sprite.svg#it-pencil"></use>
        </svg>
        <svg
          class="icon cursor-pointer"
          (click)="goToDettaglioSottomissione(item)"
        >
          <title id="dettaglio">Dettaglio</title>
          <use href="../../../../assets/svg/sprite.svg#it-note"></use>
        </svg>
        <svg class="icon cursor-pointer" (click)="eliminaSottomissione(item)">
          <title id="elimina">Elimina</title>
          <use href="../../../../assets/svg/sprite.svg#it-delete"></use>
        </svg>
      </td>
    </tr>
  </tbody>
</table>
<tbody *ngIf="!elencoForm?.length">
  <tr>
    <div class="ms-3">
      <p>Nessun risultato disponibile per la ricerca effettuata.</p>
    </div>
  </tr>
</tbody>
<app-paginator
  *ngIf="totalElements"
  [elementsForPage]="filters.pagination.elementsForPage"
  [(selectedPage)]="selectedPage"
  [totalElements]="totalElements"
  (selectedPageChange)="onPageChange($event)"
></app-paginator>
<div class="mt-4 mb-3">
  <a class="text-16p text-primary" (click)="goToTornaAllaRicercaSchemi()"
    ><span class="fa fa-angle-double-left me-1"></span>
    <label class="text-16p underline cursor cursor-pointer" style="color: #06c"
      >Torna alla ricerca</label
    ></a
  >
</div>
<router-outlet></router-outlet>
