<div class="row">
  <ng-container *ngIf="elencoForm?.length; else noResult">
    <div
      class="col-12 col-lg-4 mb-3"
      *ngFor="let item of elencoForm; let i = index"
    >
      <div class="card-wrapper">
        <div class="card card-bg">
          <div class="card-body position-relative">
            <h5 class="card-title">
              <a
                class="cursor-pointer"
                style="color: #06c; text-decoration: underline"
                (click)="goToRender(item)"
                >{{ item.titolo }}</a
              >
            </h5>
            <p class="card-text mb-5">
              <span>{{ item.descrizione }}</span>
            </p>
            <p
              *ngIf="isArchivio"
              class="position-absolute mb-0"
              style="bottom: 20px"
            >
              Scaduto il {{ dateExpiredForm[i].dataFineValidita }}
            </p>
            <p class="position-absolute mb-0" style="bottom: 20px; right: 20px">
              <a
                class="card-title cursor-pointer"
                aria-label="Accedi al modulo: Obiettivi di accessibilità"
                (click)="goToRender(item)"
                >Accedi al modulo</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <a
    *ngIf="isArchivio"
    class="card-title cursor-pointer"
    aria-label="Vai all'archivio delle sottomissioni"
    (click)="goToElencoForm()"
    >Torna indietro</a
  >
  <a
    *ngIf="!isArchivio"
    class="card-title cursor-pointer d-flex justify-content-end"
    aria-label="Vai all'archivio delle sottomissioni"
    (click)="goToArchivio()"
    >Archivio</a
  >
</div>

<ng-template #noResult>
  <p class="card-text mb-3">
    <span>Non ci sono moduli disponibili al momento</span>
  </p></ng-template
>
