<h2 class="display-1 text-center">AGID Form Analytics</h2>
<div class="d-flex justify-content-center pb-5">
  <p class="text-center">
    Questa sezione espone alcuni set di dati che mostrano la maniera in cui i
    cittadini interagiscono online con i siti web della pubblica amministrazione
    italiana.
    <br />
    <span
      >I dati analytics mostrati si riferiscono al mese solare precedente.</span
    >
  </p>
</div>
<div *ngIf="statistiche && statistiche.length" class="card-wrapper card-space d-flex justify-content-center pb-5">
  <div class="card card-bg no-after w-50">
    <div class="card-body">
      <h2 class="card-title big-heading">Conteggio</h2>
      <table
        style="width: 100%; table-layout: fixed"
        class="table table-responsive-xl table-hover"
      >
        <thead>
        <tr>
          <th scope="col">Form</th>
          <th style="text-align: right" scope="col">Numero elementi</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stat of statistiche">
            <td>{{stat.titolo}}</td>
            <td style="text-align: right">{{stat.sottomissioniPubblicateCount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
