<app-admin-home></app-admin-home>
<app-alert
  *ngIf="true"
  [messaggio]="[{ label: ('AG_Home_Info_Message' | translate) }]"
  [type]="'INFO'"
></app-alert>
<h2 class="display-1 text-center">AGID Form</h2>
<div class="d-flex justify-content-center pb-5">
  <p class="text-center">
    {{ "AG_Home_Descrizione" | translate }}
  </p>
</div>

<!-- <div class="row">
  <div
    *ngIf="statistiche && statistiche.length"
    [ngClass]="{
      'col-8': showChart,
      'col-12': !showChart,
      'd-flex': !showChart,
      'justify-content-center': !showChart
    }"
    class="card-wrapper card-space pb-5"
  >
    <div class="card card-bg no-after w-50">
      <div class="card-body">
        <h2 class="card-title big-heading">{{ "AG_Conteggio" | translate }}</h2>
        <table
          style="width: 100%; table-layout: fixed"
          class="table table-responsive-xl table-hover"
        >
          <thead>
            <tr>
              <th scope="col">Form</th>
              <th style="text-align: right" scope="col">
                {{ "AG_Numero_Elementi" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stat of statistiche">
              <td>{{ stat.titolo }}</td>
              <td style="text-align: right">
                {{ stat.sottomissioniPubblicateCount }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4 p-0" *ngIf="showChart">
    <canvas id="statsPie"></canvas>
  </div>
</div> -->
