<div class="d-flex">
  <div class="col-md-3 pt-2">
    <nav class="sidebar-wrapper it-line-right-side">
      <div class="sidebar-linklist-wrapper">
        <div class="link-list-wrapper">
          <h1 class="display-3 no_toc mb-4">
            <a
              class="primary-color-a12 text-decoration-none"
              style="font-size: xx-large"
              href="#"
              [routerLink]="['/']"
              ><span class="primary-color-a9">&lt;</span> Form</a
            >
          </h1>
          <ul class="link-list">
            <li
              [routerLinkActive]="'selector'"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                *ngIf="!isArchivio"
                class="list-item large pageOpt"
                [routerLink]="['./']"
                ><span>{{ titoloSottomissione }}</span></a
              >
              <a
                *ngIf="isArchivio"
                class="list-item large pageOpt"
                [routerLink]="['./']"
                [queryParams]="{ isArchivio: true }"
                ><span>{{ titoloSottomissione }}</span></a
              >
            </li>
            <li [routerLinkActive]="'selector'">
              <a
                *ngIf="!isArchivio"
                aria-current="page"
                class="list-item large pageOpt"
                [routerLink]="['./ricerca']"
                ><span>{{ "AG_Gestione_Compilazioni" | translate }}</span></a
              >
              <a
                *ngIf="isArchivio"
                aria-current="page"
                class="list-item large pageOpt"
                [routerLink]="['./ricerca']"
                [queryParams]="{ isArchivio: true }"
                ><span>{{ "AG_Gestione_Compilazioni" | translate }}</span></a
              >
              <a [hidden]="true" [routerLink]="['./nuova-sottomissione']"> </a>
            </li>
            <li [routerLinkActive]="'selector'">
              <a
                *ngIf="!isArchivio"
                class="list-item large pageOpt"
                [routerLink]="['./faq']"
                ><span>{{ "AG_Faq" | translate }}</span></a
              >
              <a
                *ngIf="isArchivio"
                class="list-item large pageOpt"
                [routerLink]="['./faq']"
                [queryParams]="{ isArchivio: true }"
                ><span>{{ "AG_Faq" | translate }}</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="mb-3">
  <a class="text-16p text-primary mt-3" (click)="goToElencoForm()"
    ><span class="fa fa-angle-double-left me-1"></span>
    <label
      class="text-16p underline cursor cursor-pointer"
      aria-label="torna indietro" role="region"
      style="color: #0057ad"
      >{{ "AG_Torna_Home" | translate }}</label
    ></a
  >
</div>
