<div class="d-flex">
  <div class="col-md-3 pt-2">
    <nav class="sidebar-wrapper it-line-right-side">
      <div class="sidebar-linklist-wrapper">
        <div class="link-list-wrapper">
          <h2 class="display-3 no_toc mb-4">
            <a
              class="primary-color-a12 text-decoration-none"
              href="#"
              [routerLink]="['/']"
              ><span class="primary-color-a9">&lt;</span> Form</a
            >
          </h2>
          <ul class="link-list">
            <li
              [routerLinkActive]="'selector'"
              class="mb-md-2"
              style="border-left: 4px solid #06c"
            >
              <a class="list-item large py-2" [routerLink]="['./']"
                ><span>{{ titoloSottomissione }}</span></a
              >
            </li>
            <li [routerLinkActive]="'selector'" class="mb-md-2">
              <a
                aria-current="page"
                class="list-item large py-2"
                [routerLink]="['./ricerca']"
                ><span>Gestione sottomissioni</span></a
              >
            </li>
            <li [routerLinkActive]="'selector'" class="mb-md-2">
              <a class="list-item large py-2" [routerLink]="['./faq']"
                ><span>FAQ</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
