<div class="d-flex justify-content-end" *ngIf="elencoForm.length > 0">
  <button type="button" class="btn btn-primary" (click)="goToInserimentoForm()">
    Nuovo
  </button>
</div>
<table
  style="width: 100%; table-layout: fixed"
  class="table table-responsive-xl table-hover mt-4"
  *ngIf="elencoForm.length > 0"
>
  <thead>
    <tr>
      <th scope="col" style="width: 35%">Titolo</th>
      <th scope="col" style="width: 40%">Descrizione</th>
      <th scope="col" style="width: 10%">Stato</th>
      <th scope="col" style="width: 15%">Opzioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of elencoForm">
      <td>
        {{ item.titolo }}
        <!-- Dichiarazione accessibilità -->
      </td>
      <td>
        {{ item.descrizione }}
        <!-- Ministero dell'Economia e delle Finanze si impegna a rendere il proprio
        sito web accessibile, conformemente al D.lgs 10 agosto 2018, n. 106 che
        ha recepito la direttiva UE 2016/2102 del Parlamento europeo e del
        Consiglio. -->
      </td>
      <td>{{ item.stato }}</td>
      <td>
        <svg class="icon cursor-pointer" (click)="goToModificaForm(item)">
          <title id="modifica">Modifica</title>
          <use href="../../../../assets/svg/sprite.svg#it-pencil"></use>
        </svg>
        <svg class="icon cursor-pointer" (click)="goToDettaglioForm(item)">
          <title id="dettaglio">Dettaglio</title>
          <use href="../../../../assets/svg/sprite.svg#it-note"></use>
        </svg>
        <svg class="icon cursor-pointer" (click)="onClickEliminaForm(item)">
          <title id="elimina">Elimina</title>
          <use href="../../../../assets/svg/sprite.svg#it-delete"></use>
        </svg>
      </td>
    </tr>
  </tbody>
</table>
<tbody *ngIf="!elencoForm?.length">
  <tr>
    <div class="ml-3">
      <p>Nessun risultato disponibile per la ricerca effettuata.</p>
    </div>
  </tr>
</tbody>
<!-- Paginazione -->
<app-paginator
  *ngIf="totalElements"
  [elementsForPage]="filters.pagination.elementsForPage"
  [(selectedPage)]="selectedPage"
  [totalElements]="totalElements"
  (selectedPageChange)="onChangePage($event)"
></app-paginator>
