<app-alert
  *ngIf="hashService.isModified"
  [messaggio]="hashService.message"
  [type]="hashService.type"
></app-alert>
<app-alert
  *ngIf="true"
  [messaggio]="[{ label: ('AG_Info_Ricerca_Ente' | translate) }]"
  [type]="'WARNING'"
></app-alert>
<div class="card-wrapper card-space d-flex justify-content-center pb-5">
  <div class="card card-bg no-after w-50">
    <div class="card-body">
      <h2 class="card-title big-heading text-center">
        {{ "AG_Accedi" | translate }}
      </h2>
      <div class="px-2">
        {{ "AG_Identifica_Amministrazione_Description" | translate }}
      </div>
      <div class="mt-5">
        <!-- Esempi -->
        <div class="select-wrapper mb-4">
          <label for="accessibleAutocomplete">{{
            "AG_Cerca_Amministrazione" | translate
          }}</label>
          <select
            class="form-control"
            id="accessibleAutocomplete"
            required
          ></select>
          <small id="accessibleAutocomplete" class="form-text">{{
            "AG_Inserisci_Denominazione_Amministrazione_IPA" | translate
          }}</small>
        </div>
        <ng-container *ngIf="showKeyChoose">
          <div class="form-check">
            <!-- [attr.disabled]="hashService.isModified ? true : undefined" -->
            <input
              name="gruppo1"
              type="radio"
              value="Y"
              id="yesKey"
              [attr.checked]="haveKey === 'Y' ? true : undefined"
              (change)="onChangeYesKey($event)"
            />
            <label for="yesKey">{{
              "AG_Chiave_Accesso_Posseduta" | translate
            }}</label>
          </div>
          <div class="form-check">
            <!-- [attr.disabled]="hashService.isModified ? true : undefined" -->
            <input
              name="gruppo1"
              type="radio"
              value="N"
              id="noKey"
              [attr.checked]="haveKey === 'N' ? true : undefined"
              (change)="onChangeNoKey($event)"
            />
            <label for="noKey">{{
              "AG_Chiave_Accesso_Richiesta" | translate
            }}</label>
          </div>
        </ng-container>
        <ng-container *ngIf="haveKey === 'Y'">
          <div class="form-group mt-5">
            <app-input
              [label]="
                'inserisci la chiave di accesso che hai ricevuto per email:'
              "
              [value]="key"
              [isValid]="isValidKey"
              [errorMessage]="errorMessage"
              [errorType]="typeAlert"
              (changeInput)="onKeyUpKey($event)"
            >
            </app-input>
          </div>
        </ng-container>
        <ng-container *ngIf="haveKey === 'N'">
          <div class="form-check mb-3">
            <input
              id="sendKey"
              type="checkbox"
              (change)="onChangeRadio($event)"
            />
            <label for="sendKey" style="overflow-wrap: break-word">
              {{ radioText }}
            </label>
          </div>
        </ng-container>
      </div>
      <div class="d-flex justify-content-between">
        <button
          *ngIf="haveKey"
          class="btn btn-secondary mt-3 text-right"
          type="submit"
          data-focus-mouse="false"
          (click)="onClickAnnulla()"
        >
          {{ "AG_Annulla" | translate }}
        </button>
        <button
          *ngIf="haveKey === 'N'"
          class="btn btn-primary mt-3 text-right"
          type="submit"
          [disabled]="!authorizationSend ? true : undefined"
          data-focus-mouse="false"
          (click)="onClickInviaMail()"
        >
          {{ "AG_Invia_Email" | translate }}
        </button>
        <button
          *ngIf="haveKey === 'Y'"
          class="btn btn-primary mt-3 text-right"
          type="submit"
          [disabled]="!key ? true : undefined"
          data-focus-mouse="false"
          (click)="onClickAccedi()"
        >
          {{ "AG_Accedi" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end mb-4" *ngIf="isAggiungiAmministrazione">
  <button class="btn btn-primary" (click)="goBack()">Vai a Elenco Form</button>
</div>