* {
  font-family: Titillium Web, FontAwesome, sans-serif !important;
}

.form-check-input {
  opacity: unset !important;
  margin-top: 0.3rem !important;
}

.form-check-label {
  position: unset !important;
}

.form-check {
  padding-left: 1.25rem !important;
}

.builder-component {
  margin-bottom: 0 !important;
}

.progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

formio div[role="form"] > div:first-child {
  display: none;
}

.alert {
  background-color: white;
}

.nav > .nav-item {
  flex: 1 !important;
  text-align: center !important;
}

.input-group-text {
  height: 100%;
}

#builder,
#render {
  display: unset !important;
  width: -webkit-fill-available !important;
  border: none;
  background-color: #fff;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

button.active#builder,
button.active#render {
  border-bottom-color: #06c;
  color: #06c;
  cursor: inherit;
}

.ace_editor,
.ace_editor * {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas",
    monospace !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

app-formio-render {
  .formio-component-textfield,
  .formio-component-url,
  .formio-component-radio,
  .formio-component-selectboxes,
  .formio-component-checkbox,
  .formio-component-textarea,
  .formio-component-email,
  .formio-component-datetime,
  .formio-component-file,
  .formio-component-select,
  .formio-component-number {
    > label {
      font-variant: small-caps !important;
      color: #004080 !important;
      font-size: 1.5rem !important;
      padding-left: 0 !important;
      margin-bottom: 0.3rem !important;
      position: static !important;
      line-height: 24px !important;
      white-space: normal !important;
    }
    div [ref="value"] {
      white-space: break-spaces !important;
    }
  }
  .formio-component-fieldset {
    legend {
      font-variant: small-caps !important;
      color: #004080 !important;
      font-size: 1.5rem !important;
      margin-bottom: 0.3rem !important;
      padding-left: 0 !important;
      font-weight: 600 !important;
      line-height: 24px !important;
    }
  }
  .form-group {
    margin-bottom: 1.5rem !important;
  }
  .form-text.text-muted {
    display: none;
  }
  .formio-component-content {
    div p {
      font-variant: small-caps !important;
      color: #004080 !important;
      font-size: 1.5rem !important;
      margin-bottom: 0.3rem !important;
    }
  }
  .formio-component-select select.form-control {
    color: #004080 !important;
    border-bottom: 1px solid #5d7083 !important;
    box-shadow: none !important;
  }
  .formio-component-textarea textarea {
    border: 1px solid #a3a3a3 !important;
    color: #004080 !important;
    box-shadow: none !important;
  }
}

form-builder {
  .formio-component-radio {
    > label {
      padding-left: 0 !important;
      margin-bottom: 0.3rem !important;
      position: static !important;
      line-height: 24px !important;
      white-space: normal !important;
    }
    div [ref="value"] {
      white-space: break-spaces !important;
    }
  }
}

p.formio-component-htmlelement {
  font-variant: small-caps !important;
  color: #004080 !important;
  font-size: 1.5rem !important;
  margin-bottom: 0.3rem !important;
}

.form-control.ui.fluid.selection.dropdown {
  border: 1px solid #979899 !important;
}

*:focus {
  border-color: #f90 !important;
  box-shadow: 0 0 0 2px #f90 !important;
  outline: none !important;
}

.tooltip-inner {
  background-color: #06c;
}

.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before,
.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #06c;
}

formio.render-mode .hide-in-render {
  display: none;
}
