.form-check-input {
  opacity: unset !important;
  margin-top: 0.3rem !important;
}

.form-check-label {
  position: unset !important;
}

.form-check {
  padding-left: 1.25rem !important;
}

.app .form-group.formio-component-checkbox {
  margin-bottom: 0 !important;
}

.builder-component {
  margin-bottom: 0 !important;
}

input {
  margin-top: 1.2rem !important;
}
