<h2 class="display-1 text-center">AGID Form Analytics</h2>
<div class="d-flex justify-content-center pb-5">
  <p class="text-serif text-center">
    Questa sezione espone alcuni set di dati che mostrano la maniera in cui i
    cittadini interagiscono online con i siti web della pubblica amministrazione
    italiana.
    <br />
    <span class="font-italic"
      >I dati analytics mostrati si riferiscono al mese solare precedente.</span
    >
  </p>
</div>
<div class="card-wrapper card-space">
  <div class="card card-bg">
    <div class="card-body">
      <h2 class="card-title big-heading">Statistiche</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>Pubbliche Amministrazioni coinvolte</td>
            <td>7436</td>
          </tr>
          <tr>
            <td>Rilevazioni attivate</td>
            <td>78</td>
          </tr>
          <tr>
            <td>Dichiarazioni di accessibilità compilate</td>
            <td>3679</td>
          </tr>
          <tr>
            <td>N° siti dichiarati accessibili</td>
            <td>560</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
