<div *ngIf="!route.children.length">
  <app-ricerca-form #ricercaFormComponent></app-ricerca-form>
  <div class="row">
    <div class="form-group col text-right">
      <!-- <div class="d-flex justify-content-end" *ngIf="elencoForm?.length > 0"> -->
      <button
        type="button"
        class="btn btn-primary me-2"
        (click)="goToInserimentoForm()"
      >
        {{ "AG_Nuovo" | translate }}
      </button>
      <!-- </div> -->
      <button type="submit" class="btn btn-primary" (click)="searchForm()">
        {{ "AG_Cerca" | translate }}
      </button>
    </div>
  </div>
  <app-risultati-form *ngIf="filters" [filters]="filters"></app-risultati-form>
</div>
<router-outlet></router-outlet>
