<div class="it-header-slim-wrapper">
  <div
    class="it-header-slim-wrapper-content ms-auto me-auto custom-max-width-1200"
  >
    <a class="d-none d-lg-block navbar-brand" href="#"
      >Agenzia per l'Italia Digitale
    </a>
    <div class="nav-mobile">
      <nav aria-label="Navigazione accessoria">
        <a
          class="it-opener d-lg-none"
          data-toggle="collapse"
          href="#menu1a"
          role="button"
          aria-expanded="false"
          aria-controls="menu4"
        >
          <span>Agid </span>
          <svg class="icon" aria-hidden="true">
            <use href="/assets/svg/sprite.svg#it-expand"></use>
          </svg>
        </a>
        <div class="link-list-wrapper collapse" id="menu1a">
          <ul class="link-list">
            <li><a class="list-item" href="#">Piano triennale</a></li>
            <li>
              <a class="list-item" href="#" aria-current="page"
                >Avanzamento digitale</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="it-header-slim-right-zone">
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="sr-only">Selezione lingua: lingua selezionata</span>
          <span>ITA</span>
          <svg class="icon d-none d-lg-block">
            <use href="/assets/svg/sprite.svg#it-expand"></use>
          </svg>
        </a>
        <div class="dropdown-menu">
          <div class="row">
            <div class="col-12">
              <div class="link-list-wrapper">
                <ul class="link-list">
                  <li>
                    <a class="list-item" href="#"
                      ><span
                        >ITA <span class="sr-only">selezionata</span></span
                      ></a
                    >
                  </li>
                  <li>
                    <a class="list-item" href="#"><span>ENG</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="it-access-top-wrapper">
        <a class="btn btn-primary btn-sm" href="#">Accedi</a>
      </div>
    </div>
  </div>
</div>
